<!DOCTYPE html>
<meta charset="UTF-8">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<!-- TODO: make this dynamic somehow based on screen real estate and word length -->
<style>
.word {
	width: 100px;
	height:20px;
	border-style: solid;
	border-width: 1px;
}

.word-completed {
	background-color: #dff0d8;
}

.word-not-completed {
	background-color: #f2dede;
}

.word-claimed {
	background-color: #fdffad;
}

.chatlog {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:270px;
	width:430px;
	border:1px solid #ACD8F0;
	overflow:auto;
	font-family: monospace;
}


.system-msg {
	color: gray;
	font-style: italic;
	padding-right: 20px;
}

.user {
	padding-right: 20px;
}

</style>
</head>

<body>

<div ng-app="mporcle" ng-controller="listCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<div layout="row">
	<!-- TODO: probably make this a URL param or path instead -->
	<input type="text" name="room" ng-model="roomInput"/>
	<button type="button" name="join" ng-click="joinRoom()" ng-disabled="!connected">Join</button>
	{{ joinedRoom ? "Playing in Room " + room : "" }}
</div>


<div layout="row">
	<div ng-cloak>
		<input type="text" name="playerInput" ng-model="playerInput" ng-change="handleInputChange()" ng-disabled="!hasStarted"/>
	</div>
	<div flex="10" ng-cloak>
		{{ formatTime(timerSeconds) }}
	</div>
	<div ng-cloak>
		<button type="button" name="start" ng-click="hasStarted ? giveUp() : readyUp()" ng-disabled="!joinedRoom">
			{{ hasStarted ? "Give Up" : (ready ? "Unready" : "Ready") }}
		</button>
	</div>
	<div>
		<label><input type="radio" ng-model="handleInputChange" ng-value="matchWordAnywhere"/> Match Word Anywhere</label>
	</div>
	<div>
		<label><input type="radio" ng-model="handleInputChange" ng-value="sequenceWords"/> Words in Sequence</label>
	</div>
</div>

<div layout="row">
	<div layout="row">
		<div ng-repeat="x in range(columns)" >
			<div ng-repeat="word in getData(x)" ng-class="getWordClass(word)">{{ word.plain }}</div>
		</div> <!-- ng-repeat -->
	</div>
	<div layout="column">
		<div class="chatlog" id="chatlog">
			<div ng-repeat="msg in log" layout="row">
				<div ng-class="msg.style"><{{ msg.user }}></div>
				<div ng-class="msg.user === 'system' ? 'system-msg' : 'user-msg'">{{ msg.message }}</div>
			</div>
		</div>
		<div>
			<input type="text" name="chatlog" ng-model="chatInput" ng-keypress="$event.keyCode === 13 && chatSend()"/>
		</div>
	</div>
</div>

</div><!-- ng-app -->

</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
<script type="text/javascript">

// djb2 hashing algorithm
var calchash = function(chars) {
	if (typeof chars === 'string') {
		chars = chars.split('').map(function(str){
			return str.charCodeAt(0);
		});
	}

	if (!Array.isArray(chars)) {
		throw new Error('input must be a string or an array');
	}

	return chars.reduce(function(prev, curr){
		return ((prev << 5) + prev) + curr;
		}, 5381);
};

var socket = io.connect("http://" + document.domain + ":" + location.port);


var app = angular.module('mporcle', ['ngMaterial', 'ngMessages']);
var parseEntries = app.controller('listCtrl', function($scope, $http, $interval) {

	$scope.hasStarted = false;

	$scope.roomInput = "";
	$scope.room = "";
	$scope.joinedRoom = false;
	$scope.ready = false;
	$scope.connected = false;

	socket.on('connect', function(data) {
		$scope.connected = true;
		$scope.systemLog("Connected!")
	});

	$scope.joinRoom = function() {
		if ($scope.roomInput === "") {
			console.log("enter a room id first");
			$scope.systemLog("Enter a room id before attempting to join!")
			return
		}
		socket.emit("join", {"room": $scope.roomInput})
	};

	socket.on("join success", function(data) {
		$scope.room = data.room;
		$scope.joinedRoom = true;
		console.log("successfully joined room " + $scope.room);
		$scope.systemLog("Successfully joined room '" + $scope.room + "'!");
		$scope.$apply();
	});

	counter = ""; // Will be filled with the interval ticker
	$scope.timerSeconds = 0;

	$scope.formatTime = function(time) {
		var min = Math.floor(time / 60);
		var secs = time % 60;
		if (secs < 10) {
			secs = "0" + secs
		}
		return min + ":" + secs;
	}

	$scope.readyUp = function() {
		if (!$scope.joinedRoom) {
			// TODO: single player game without room?
			console.log("cannot start game until you joined a room");
			$scope.systemLog("Cannot ready up until you join a room!");
			return;
		}
		$scope.ready = !$scope.ready;
		socket.emit("ready", {"room": $scope.room})
		$scope.systemLog($scope.ready ? "You are ready!" : "You are no longer ready...");
	};

	onReady = function(data) {
		$scope.systemLog("" + data.user + " is " + (data.state ? "ready" : "not ready"));
		$scope.$apply();
	};

	socket.on("user ready", onReady);

	$scope.giveUp = function() {
		if (!$scope.joinedRoom) {
			console.log("how tho");
			return
		}

		socket.emit("surrender", {"room": $scope.room});
	}

	onStart = function() {
		var tick = function() {
			$scope.timerSeconds++;
		};

		$scope.timerSeconds = 0;
		counter = $interval(tick, 1000);
		$scope.hasStarted = true;
		$scope.systemLog("Game has started!");
		$scope.$apply();
	};

	onStop = function(data) {
		$scope.hasStarted = false;
		$scope.ready = false;
		$interval.cancel(counter);
		$scope.$apply();
	}

	socket.on('game start', onStart);
	socket.on('game stop', onStop);


	$scope.data = [];

	$scope.buildData = function(response) {
		var words = response.data;

		for (var i = 0; i < words.length; i++) {
			$scope.data.push(
				{
					"word": words[i],	// Hash of the word
					"completed": false,	// Has this word been solved yet?
					"claimed": false,	// Has this word been claimed by an opponent?
					"plain": "",		// Plaintext of the word to be filled by server
				});
		}
	};

	// TODO: maybe put this on the websocket as well, or actually build the data on game start
	$http.get('/song').then($scope.buildData, function(r){console.log(r)});

	$scope.playerInput = "";

	// TODO: probably build a hash table or something
	// Potential issue if $scope.data.length = 0
	$scope.matchWordAnywhere = function() {
		var found = false;
		var complete = true;

		for (var i = 0; i < $scope.data.length; i++) {
			if ($scope.data[i].completed) {
				continue;
			}
			if ($scope.wordCompare($scope.playerInput, $scope.data[i]["word"])) {
				socket.emit('try word', {"word":$scope.playerInput, "index": i, "room": $scope.room});
				$scope.data[i].plain = $scope.playerInput; // Client side cache a potential answer first
				found = true;
				continue; // skip over the next line...
			}
			complete = false; // ...because if we don't hit this we win!
			// ...probably. server should control player win status probably
		}

		if (found) {
			$scope.playerInput = ""; // We found one, clear input box
		}
	};

	// We did indeed get a correct word
	confirmWord = function(data) {
		$scope.data[data.index].plain = data.plain;
		$scope.data[data.index].completed = true;
		if ($scope.handleInputChange == $scope.sequenceWords)
			$scope.sequenceNum++;
	};

	// Either hash collision or bug, server rejected a word
	rejectWord = function(data) {
		$scope.data[data.index].plain = "";
		$scope.data[data.index].completed = false;
		if ($scope.handleInputChange == $scope.sequenceWords)
			$scope.sequenceNum--;
	}

	confirmWordBC = function(data) {
		if ($scope.data[data.index].completed) {
			return;
		}

		$scope.data[data.index].plain = data.plain;
		$scope.data[data.index].claimed = true;
		$scope.data[data.index].completed = true;
		if ($scope.handleInputChange == $scope.sequenceWords)
			$scope.sequenceNum++;
	};

	socket.on('yes word', confirmWord);
	socket.on('no word', rejectWord);
	socket.on('yes word bc', confirmWordBC);

	$scope.getWordClass = function(word) {
		if (word.claimed)
			return "word word-claimed";
		if (word.completed)
			return "word word-completed";
		return "word word-not-completed";
	};

	$scope.sequenceNum = 0;
	$scope.sequenceWords = function() {
		if ($scope.wordCompare($scope.playerInput, $scope.data[$scope.sequenceNum]["word"])) {
			// TODO: maybe have server enforce player game mode, including sequence
			socket.emit('try word', {"word":$scope.playerInput, "index": $scope.sequenceNum, "room": $scope.room});
			$scope.data[$scope.sequenceNum].plain = $scope.playerInput;
			//$scope.sequenceNum++;
			$scope.playerInput = "";
		}
	}

	$scope.wordCompare = function(pinput, source) {
		pinput = pinput.replace(/[^a-zA-Z]/g, "").toLowerCase();
		//source = source.replace(/[^a-zA-Z]/g, "").toLowerCase();
		return calchash(pinput) === source;
		//return pinput === source;
	};

	$scope.handleInputChange = $scope.matchWordAnywhere;

	$scope.columns = 12; // TODO: dynamically calculate this somehow
	$scope.range = function(num) {
		var ret = [];
		for (var i = 0; i < num; i++) {
			ret.push(i);
		}
		return ret;
	};

	$scope.getData = function(col) {
		var div = Math.floor($scope.data.length / $scope.columns); // length of the column
		return $scope.data.slice(col * div, (col * div) + div);
	};

	$scope.chatInput = "";
	$scope.chatSend = function() {
		if ($scope.chatInput === "") {
			return;
		}

		socket.emit("chat", {"message": $scope.chatInput, "room": $scope.room});
		$scope.chatInput = "";
	}

	$scope.log = [];
	chatlogElement = document.getElementById("chatlog");
	onChat = function(data) {
		data.style = 'user';
		$scope.log.push(data);
		chatlogElement.scrollTop = chatlogElement.scrollHeight;
		$scope.$apply();
	};

	socket.on('chat', onChat);

	onUserJoin = function(data) {
		$scope.systemLog("" + data.id + " has joined the room");
		$scope.$apply();
	};
	socket.on('user join', onUserJoin);

	onUserLeave = function(data) {
		$scope.systemLog("" + data.id + " has left the room");
		$scope.$apply();
	};
	socket.on('user leave', onUserLeave);

	$scope.systemLog = function(message) {
		$scope.log.push({
			"message": message,
			"user": "system",
			"style": "system-msg"
		});
		chatlogElement.scrollTop = chatlogElement.scrollHeight;
	}

	$scope.systemLog("Welcome to MPorcle!");

});
</script>
